@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.memoItem {
  width: 19rem;
  height: 19rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 2em;
  margin: 20px;
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 175px 25px;
  border-top-right-radius: 15px 130px;
  border-bottom-left-radius: 10px 190px;
  border-bottom-right-radius: 120px 25px;
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}

.memoItem:hover {
  transform: translateY(-10px) rotate(5deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.iconWrapper {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.icon,
.iconEdit,
.iconSave,
.iconDelete {
  font-size: 1.5rem;
  margin: 0.9rem;
  position: absolute;
  transition: all 400ms ease;
}

.icon:hover,
.iconEdit:hover,
.iconSave:hover,
.iconDelete:hover {
  color: #a2b5bb;
}

.icon {
  right: 4.2rem;
}

.iconEdit,
.iconSave {
  right: 2rem;
}

.icon {
  margin-top: 1rem;
}

.textarea {
  width: 17rem;
  height: 80%;
  border: none;
  background: transparent;
  padding-top: 1.5rem;
  color: white;
  font-size: 1.5em;
  resize: none;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  cursor: pointer;
}

.textarea:focus {
  outline: none;
}

.checkedMemo {
  width: 19rem;
  height: 19rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 2em;
  margin: 20px;
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 175px 25px;
  border-top-right-radius: 15px 130px;
  border-bottom-left-radius: 10px 190px;
  border-bottom-right-radius: 120px 25px;
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
  -webkit-filter: grayscale(9%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

.doneIcon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 4.1rem;
  font-size: 1.55rem;
  z-index: 150;
}