@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#title{
  margin-top: 2rem;
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

